.idea/*
.idea
.idea/**
**/.idea/**
**/target/**
*.class
**/node_modules/**
**/package-lock.json
# prod 中包含着小程序密钥不上传
**/application-prod.yml
/.idea/
/Environment/docker-compose/minio/**
/Environment/docker-compose/mysql/**
/Environment/docker-compose/nacos/**
/Environment/docker-compose/shenyu-admin/**
/Environment/docker-compose/shenyu-bootstrap/**
